PORT=8000
PINECONE_API_KEY=pcsk_HPt98_4arA1NTT2Joi6RTvQa3NixbYWUu21JTwd3jcXMjqHKsZma8Mm4wR6goKrQXMvDx
PINECONE_INDEX_NAME=memoryverse
GEMINI_API_KEY=AIzaSyDLzZ-K0GFSJM_GntGC5n7mB5FEiqAO-L8
REDIS_URL=redis://localhost:6379
EMBEDDING_MODEL=all-MiniLM-L6-v2
